
.center{ text-align:center;
  color:
}

#container{
margin-top: 4%;
margin-left: 10%;
margin-right: 10%;
}



a:link  {color: #0000ff; background-color:transparent}
a:visited {color: #ff0000; background-color:transparent}
a:hover   {color: #00ff00; background-color:transparent}
a:active  {color: $ff69b4; background-color:transparent}

body{
	background-color: #ffffff;
	font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	color: #660066;
}

nav{
	text-align:center;
  /*	color:#ffffff; */
  	display: flex;
	}

#svg{
	background-color: #7F267F;
  	float:left;
  	margin: 1%;
  	padding: 2%;
	border:2px solid;
  	border-radius: 20px;


	}

#css{
  background-color:#FF00EF;
  float:left;
  margin: 1%;
  padding: 2%;
  border:2px solid;
  border-radius: 20px;

  }

#version{
  background-color:#7F267F;
  float:left;
  margin: 1%;
  padding: 2%;
  border:2px solid;
  border-radius: 20px;

}

#javascript{
  background-color: #FF00EF;
  float:left;
  margin: 1%;
  padding: 2%;
  border:2px solid;
  border-radius: 20px;
}

#canvas{
  background-color:#7F267F;
  float:left;
  padding: 2%;
  border:2px solid;
  border-radius: 20px;
  margin: 1%;

}

#webgl{
  background-color:#FF00EF;
  float:left;
   margin: 1%;
	padding: 2%;
	border:2px solid;
  	border-radius: 20px;
}

#final{
  background-color:#7F267F;
  float:left;
  	margin: 1%;
	padding: 2%;
	border:2px solid;
  	border-radius: 20px;
}

header{
	display: block;
	text-align:center;
}

main{
	width: 90%;
	margin: 1% 1% 1% 1%;
	display: block;
  padding-top:1%;

}

#sidebar{
	float:left;
	clear: left;
	padding-left: 4%;
	width: 20%;
	display: block;
	padding-right: 1%;
	padding-bottom: 2%;

}

ul.a {
    list-style-type: circle;
    align: left;
    }

footer{
	clear:left;
	background: #ccc;
	text-align: center;
	padding: 20px;
	height: 1%
}
